/* ==========================================================================
   Custom properties
   ========================================================================== */
:root{
  --color-primary: red;
  --color-secondary  : SkyBlue;
  --color-tertiary   : white;
  --bgcolor-primary  : #ced9dd;
  --bgcolor-secondary: PaleGoldenRod;
}
  /*
    https://developer.mozilla.org/fr-BE/docs/Web/CSS/@property

    @property --color-primary {
      syntax       : "<color>";
      inherits     : true;
      initial-value: #c0ffee;
    }
*/
